<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facebook group watcher</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <style>
    input {
      margin-right: 5px;
    }
    .form-control:focus {
      box-shadow: none;
    }
    .error_border {
      border-color: red;
    }
  </style>
  <body onload="get_groups()">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          id="home-tab"
          data-bs-toggle="tab"
          href="#home"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          >Home</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="profile-tab"
          data-bs-toggle="tab"
          href="/feed.xml"
          target="_blank"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
          >Open Feed</a
        >
      </li>
    </ul>

    <div class="container-fluid">
      <h2 class="my-3">Add Groups</h2>
      <div id="alert-ph"></div>
      <row id="new_group">
        <div class="input-group mb-3 new_group">
          <input
            type="text"
            class="form-control"
            id="group_input"
            placeholder="Group Url"
            onfocusout="check_group_url_input(event)"
          />
          <input
            type="text"
            class="form-control"
            id="keywords_input"
            placeholder="Keywords"
            onfocusout="check_keywords_input(event)"
          />
          <button type="button" class="btn btn-secondary" onclick="add_group()">
            Add Group
          </button>
        </div>
      </row>
    </div>

    <div class="container-fluid">
      <div id="alert-ph2"></div>
      <h2 class="my-3">Update Groups</h2>
      <row id="groups"></row>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script>
      const get_groups = () => {
        const groups_ph = document.getElementById("groups");
        fetch("/getgroups")
          .then((response) => {
            if (!response.ok) {
              alert("error fetching groups");
            }
            return response.json();
          })
          .then((json) => {
            groups_ph.innerHTML = "";
            for (let group of json) {
              groups_ph.innerHTML += `
              <div class="input-group mb-3 new_group">
          <input
            type="text"
            class="form-control"
            value="${group[0]}"
            placeholder="Group Url"
            disabled
          />
          <input
            type="text"
            class="form-control"
            id="keywords_input"
            value="${group[1].replaceAll(",", " ")}"
            onfocusout="check_keywords_input(event)"
          />
          <button type="button" class="btn btn-warning" onclick="update_group(event)">
            Update
          </button>
          <button type="button" class="btn btn-danger" onclick="delete_group()">
            Delete
          </button>
        </div>
              `;
            }
          });
      };
      const check_group_url_input = (e) => {
        const value = e.target.value;
        const group_re = /^https:\/\/www\.facebook\.com\/groups\/[0-9]+\/?$/;
        if (group_re.test(value)) {
          e.target.classList.remove("error_border");
        } else {
          e.target.classList.add("error_border");
        }
      };

      const check_keywords_input = (e) => {
        const value = e.target.value.replace(/\s{2,}/g, " ").trim();
        e.target.value = value;
        const keywords_re = /^[a-zA-Z0-9_ ]+$/;
        if (keywords_re.test(value)) {
          e.target.classList.remove("error_border");
        } else {
          e.target.classList.add("error_border");
        }
      };

      const add_group = () => {
        const group_input = document.getElementById("group_input");
        const keywords_input = document.getElementById("keywords_input");

        if (
          !group_input.value ||
          !keywords_input.value ||
          group_input.classList.contains("error_border") ||
          keywords_input.classList.contains("error_border")
        ) {
          return;
        }
        let group_val = group_input.value;
        let keywords_val = keywords_input.value.replaceAll(" ", ",");
        if (group_val[group_val.length - 1] != "/") {
          group_val += "/";
        }
        const payload = {
          url: group_val,
          keywords: keywords_val,
        };
        postData("/addgroup", payload).then((data) => {
          if (data.success) {
            document.getElementById("alert-ph").innerHTML = `
            <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Group added successully !</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            `;
            group_input.value = "";
            keywords_input.value = "";
            get_groups();
          } else if (data.failed) {
            document.getElementById("alert-ph").innerHTML = `
            <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>${data.failed}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            `;
          }
        });
      };

      const update_group = (event) => {
        const parent = event.target.parentElement;
        const url = parent.children[0].value;
        const keywords_input = parent.children[1];
        if (
          !keywords_input.value ||
          keywords_input.classList.contains("error_border")
        ) {
          return;
        }
        const keywords = keywords_input.value.replaceAll(" ", ",");
        const payload = {
          url,
          keywords,
        };
        postData("/updategroup", payload).then((data) => {
          if (data.success) {
            document.getElementById("alert-ph2").innerHTML = `
            <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Group updated successully !</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            `;
            get_groups();
          }
        });
      };

      async function postData(url = "", data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
          method: "POST", // *GET, POST, PUT, DELETE, etc.
          mode: "cors", // no-cors, *cors, same-origin
          cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
          credentials: "same-origin", // include, *same-origin, omit
          headers: {
            "Content-Type": "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
          redirect: "follow", // manual, *follow, error
          referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
          body: JSON.stringify(data), // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
      }
    </script>
  </body>
</html>
